<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>

  <head>
    <%= include_gon %>

    <title></title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>

    <script type='text/javascript' src='https://code.jquery.com/jquery-latest.min.js'></script>

    <script type='text/javascript' src='https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1'></script>

    <script type='text/javascript'>

      var infoboxLayer = new Microsoft.Maps.EntityCollection();
      var pinLayer = new Microsoft.Maps.EntityCollection();

      function GetMap(plot_locations, plot_icon_colours, plot_categories, plot_titles, plot_descriptions)
      {
        var mapOptions = {
          credentials:'AutjcX00ethCZF2CQURexruteEwuFxvWJ6BVywEvyDv5BIaOO3vfhrH59O_rnLFd',
          center: new Microsoft.Maps.Location(49.21042016382462, -2.1445659365234615),
          zoom: 12,
          mapTypeId: Microsoft.Maps.MapTypeId.aerial
        };
        var map = new Microsoft.Maps.Map(document.getElementById('mapDiv'), mapOptions);
        for (var i=0,  len=plot_locations.length; i < len; i++) {
          var lat = plot_locations[i][0];
          var lng = plot_locations[i][1];
          var loc = new Microsoft.Maps.Location(lat, lng);
          var colour = plot_icon_colours[i];
          var categoryLetter = plot_categories[i];
          var pushpinOptions = {icon: 'https://www.google.com/mapfiles/ms/micons/' + colour + '.png', text: categoryLetter, textOffset: new Microsoft.Maps.Point(3, 3)};
          var pin = new Microsoft.Maps.Pushpin(loc, pushpinOptions);
          pin.Title = plot_titles[i];
          pin.Description = plot_descriptions[i];
          pinInfobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(0, 0), {visible: false });
          // custom html to implement variable height, scrollable pinInfoBox
          pinInfobox.setHtmlContent("<div style='overflow:auto; max-height:" + 50 + "px'> " + plot_descriptions[i] + "</div>");
          Microsoft.Maps.Events.addHandler(pin, 'click', displayInfobox);
          Microsoft.Maps.Events.addHandler(map, 'viewchange', hideInfobox);
          pinLayer.push(pin);
          infoboxLayer.push(pinInfobox);
        }

        map.entities.push(pinLayer);
        map.entities.push(infoboxLayer);

      }

      function displayInfobox(e) {
        pinInfobox.setOptions({title: e.target.Title, description: e.target.Description, visible:true, offset: new Microsoft.Maps.Point(0,15)});
        pinInfobox.setLocation(e.target.getLocation());
      }

      function hideInfobox(e)
      {
        pinInfobox.setOptions({ visible: false });

      }

    </script>
  </head>

  <body>

    <script type='text/javascript'>
      window.onload = function() {
        var serverLocations = gon.plot_locations;
        var serverIconColours = gon.plot_icon_colours;
        var serverCategories = gon.plot_categories;
        var serverTitles = gon.plot_titles;
        var serverDescriptions = gon.plot_descriptions;
        GetMap(serverLocations, serverIconColours, serverCategories, serverTitles, serverDescriptions);
      };
    </script>

    <div id='mapDiv' style='position:absolute; width:800px; height:500px;'></div>

  </body>

</html>
